# Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# PyInstaller / Build artifacts
build/
dist/
*.spec

# AI Models
*.pt
*.onnx

# Media & Output Files
*.mp4
*.avi
*.mov
output/

# Logs & Configs
*.log
.vscode/